<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../assets/css/homePage.css" />
  <!-- <link rel="stylesheet" href="../assets/css/footer.css" /> -->
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" />
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="icon" type="image/x-icon" href="../assets/images/justice.png" />
  
 
  <title>AvocatConnect</title>
</head>

<body class="m-0 p-0 mx-auto">
  <div class="h-auto mt-20 justify-center">
    
    <nav class="fixed top-0 w-full h-[70px] flex items-center justify-between bg-white shadow-md z-[100]">
      
      <div class="flex items-center w-[150px] justify-between ml-[20px] md:ml-[40px]">
        <a href="#" class="scale-[3] md:scale-[4]">
          <img class="w-10 ml-10" src="../assets/images/logo.png" alt="Logo du site" />
        </a>
      </div>
      <div class="flex items-center">
        <button class="block md:hidden text-2xl text-gray-700 mr-4" id="menu-toggle">
          <i class="fa-solid fa-bars"></i>
        </button>
      </div>
      <div class="hidden md:flex justify-between items-center gap-6">
        <a href="#" class="text-[15px] text-gray-600 hover:text-pink-300 transition-all duration-300 ease-in-out">
          Accueil
        </a>
        <a href="./client/dashboard.php" class="text-[15px] text-gray-600 hover:text-pink-300 transition-all duration-300 ease-in-out">
          Trouver un avocat
        </a>
        <a href="./dashboard.html" class="text-[15px] text-gray-600 hover:text-pink-300 transition-all duration-300 ease-in-out">
          Mes réservations
        </a>
        <p class="flex items-center text-[15px] text-gray-600 hover:text-pink-300 transition-all duration-300 ease-in-out">
          <i class="fa-regular fa-user text-pink-500"></i>&nbsp;&nbsp;<span id="profile">Profile</span>
        </p>
      </div>

      <!-- Espace et bouton de déconnexion -->
      <div class="hidden md:flex items-center">
        <a href="userlogin.php" class="text-[15px] font-medium text-white leading-[26px] py-[9px] px-[25px] bg-gradient-to-r from-[#EC008C] via-[#fc6767] to-[#EC008C] rounded-full shadow-md transition-all duration-200 ease-in-out hover:bg-gradient-to-r hover:from-[#EC008C] hover:to-[#fc6767]">
          Connexion
        </a>
        <div class="w-[50px]"></div>
      </div>
  </nav>

<!-- Menu responsive (caché par défaut) -->
<div id="mobile-menu" class="hidden flex-col bg-white shadow-md absolute top-[70px] w-full p-4 md:hidden">
  <a href="#" class="py-2 text-gray-600 hover:text-pink-300">Accueil</a>
  <a href="./client/dashboard.php" class="py-2 text-gray-600 hover:text-pink-300">Trouver un avocat</a>
  <a href="./dashboard.html" class="py-2 text-gray-600 hover:text-pink-300">Mes réservations</a>
  <a href="userlogin.php" class="py-2 text-white bg-gradient-to-r from-[#EC008C] via-[#fc6767] to-[#EC008C] rounded-full text-center">Connexion</a>
</div>


    
    <!-- Navbar Ends -->

    <main class="mx-auto mt-[180px]  h-auto w-4/5 m-auto">
      <!-- Body -->
      <div class="mt-[50px] w-full flex justify-around" data-aos="fade-right">
        <div class="w-[45%]">
          <h1 class="text-[#414a4d] text-[2.5vw] text-left mt-[60px] pt-[0] px-[24px] pb-[24px]">
            Un cabinet d'avocats
            avec une passion pour le succès.
          </h1>
          
          <p class="px-[24px] py-[0] text-[2vw] text-[#414a4d] block">
            <img class="w-[30px] mr-[4px]" src="../assets/images/hammer (2).png" alt="xc" />
            Les avocats les plus réputés pour vous
          </p>
          <div class="text-[#707070] ml-[35px] text-[1vw]">
            Le droit et la justice sont des éléments très importants de toute société. Que ce soit
              développé ou en développement, chaque pays a besoin de justice,
              l'équité et la primauté du droit. Une grande partie de cette institution est
              Des avocats qui contribuent à rendre justice aux citoyens.
          </div>
          <p class="px-[24px] py-[0] text-[2vw] text-[#414a4d] block">
            <img class="w-[30px] mr-[4px]" src="../assets/images/hammer (2).png" alt="xc" />
            Nous défendrons votre justice et vos droits
          </p>
          <div class="text-[#707070] ml-[35px] text-[1vw]">
              La justice signifie laisser les gens tranquilles, pour les autres, cela signifie être moralement correct. Encore plus de gens pensent à la justice
              découle de l’accord de la plupart des gens, tandis que d’autres pensent que la justice est une répartition équitable des ressources.
          </div>
      


          <div class="mt-[50px]">
            <button class="border-[none] align-top ml-[24px] font-medium text-[#fff] leading-[26px] px-[35px] py-[9px] [background-size:200%_100%] cursor-pointer !bg-[linear-gradient(to_right,#EC008C_0%,#fc6767_50%,#EC008C_100%)] !text-[20px] !pt-[13px] !pb-[13px] !pl-[60px] !pr-[60px] inline-block rounded-[2em] [box-shadow:0_1px_20px_0_rgb(0_0_0_/_14%)] cursor-pointer [transition:all_.2s_ease-in-out] bg-[linear-gradient(to_right,#EC008C_100%,#fc6767_10%,#EC008C_0%)]">Commencez maintenant !</button>
          </div>
        </div>
        <div class="w-[50%] h-[100%]" data-aos="flip-left" data-aos-duration="1500">
          <img class="w-[100%]" height="100%" src="../assets/Images/ladki.png" alt="Women Lawyer" />
        </div>
      </div>
      <!--  -->
      <div class="banner2" data-aos="fade-left">
        <div>
          <h2 class="text-center text-[2.5vw] pt-[0] px-[0] pb-[80px] text-[#414a4d] font-['Nunito']">
          Recherchez les meilleurs avocats dans votre <br />Proximité.
          </h2>
        </div>


        <!-- Grid cards -->
        <div class="grid pt-[15px] gap-x-[125px] gap-y-[50px] m-auto mt-px mb-[50px] bg-[#f2f5fa] sm:grid-cols-[repeat(1,_1fr)] md:grid-cols-[repeat(2,_1fr)] lg:grid-cols-[repeat(3,_1fr)]">
          <div class="[transition:0.3s] bg-[#f2f5fa] text-[#707070] px-[0] py-[10px] rounded-[15px] hover:[box-shadow:0_8px_16px_0_rgba(0,0,0,0.2)]
" data-aos="zoom-in">
            <img class="w-[100px] rounded-[10px] pl-[10px]" src="../assets/images/civil.svg" alt="Avatar"  />
            <div class="px-[16px] py-[2px]">
              <h4 style="color: black"><b>Droit Civil</b></h4>
              <p class=" text-[1rem] font-['Nunito']">
              Domaine du droit le plus courant qui traite des litiges entre particuliers.
              </p>
            </div>
          </div>
          <div class="[transition:0.3s] bg-[#f2f5fa] text-[#707070] px-[0] py-[10px] rounded-[15px] hover:[box-shadow:0_8px_16px_0_rgba(0,0,0,0.2)]
" data-aos="zoom-in">
            <img class="w-[100px] rounded-[10px] pl-[10px]" src="../assets/images/property.svg" alt="Avatar" style="width: 100px" />
            <div class="px-[16px] py-[2px]">
              <h4 style="color: black"><b>Droit du divorce</b></h4>
              <p class=" text-[1rem] font-['Nunito']">
              Dissolution d'un mariage légalement reconnu qui varie d'un pays à l'autre.
              </p>
            </div>
          </div>
          <div class="[transition:0.3s] bg-[#f2f5fa] text-[#707070] px-[0] py-[10px] rounded-[15px] hover:[box-shadow:0_8px_16px_0_rgba(0,0,0,0.2)]
" data-aos="zoom-in">
            <img class="w-[100px] rounded-[10px] pl-[10px]" src="../assets/images/divorce.svg" alt="Avatar" style="width: 100px" />
            <div class="px-[16px] py-[2px]">
              <h4 style="color: black"><b>Droit de la propriété</b></h4>
              <p class=" text-[1rem] font-['Nunito']">
              Traite de la propriété/possession et de la vente de biens meubles et immeubles.
              </p>
            </div>
          </div>
          <div class="[transition:0.3s] bg-[#f2f5fa] text-[#707070] px-[0] py-[10px] rounded-[15px] hover:[box-shadow:0_8px_16px_0_rgba(0,0,0,0.2)]
" data-aos="zoom-in">
            <img class="w-[100px] rounded-[10px] pl-[10px]" src="../assets/images/criminal.svg" alt="Avatar" style="width: 100px" />
            <div class="px-[16px] py-[2px]">
              <h4 style="color: black"><b>Droit pénal</b></h4>
              <p class=" text-[1rem] font-['Nunito']">
              L’État impose des règles et des réglementations contrôlant la conduite de ses citoyens.
              </p>
            </div>
          </div>
          <div class="[transition:0.3s] bg-[#f2f5fa] text-[#707070] px-[0] py-[10px] rounded-[15px] hover:[box-shadow:0_8px_16px_0_rgba(0,0,0,0.2)]" data-aos="zoom-in">
            <img class="w-[100px] rounded-[10px] pl-[10px]" src="../assets/images/banking.svg" alt="Avatar" style="width: 100px" />
            <div class="px-[16px] py-[2px]">
              <h4 style="color: black"><b>Droit bancaire</b></h4>
              <p class=" text-[1rem] font-['Nunito']">
              Administrer les activités bancaires, dans le but de réguler les transactions.
              </p>
            </div>
          </div>
          <div class="[transition:0.3s] bg-[#f2f5fa] text-[#707070] px-[0] py-[10px] rounded-[15px] hover:[box-shadow:0_8px_16px_0_rgba(0,0,0,0.2)]" data-aos="zoom-in">
            <img class="w-[100px] rounded-[10px] pl-[10px]" src="../assets/images/chequebounce.svg" alt="Avatar" style="width: 100px" />
            <div class="px-[16px] py-[2px]">
              <h4 style="color: black"><b>Droit de rebond</b></h4>
              <p class=" text-[1rem] font-['Nunito']">
              Le refus de chèques est assez courant et est couvert par la Loi sur les instruments négociables.
              </p>
            </div>
          </div>
          <div class="[transition:0.3s] bg-[#f2f5fa] text-[#707070] px-[0] py-[10px] rounded-[15px] hover:[box-shadow:0_8px_16px_0_rgba(0,0,0,0.2)]" data-aos="zoom-in">
            <img class="w-[100px] rounded-[10px] pl-[10px]" src="../assets/images/trademark.svg" alt="Avatar" style="width: 100px" />
            <div class="px-[16px] py-[2px]">
              <h4 style="color: black"><b>Loi sur les marques et le droit d'auteur</b></h4>
              <p class=" text-[1rem] font-['Nunito']">
              Servir l’objectif de protéger les droits d’utilisation d’une idée, d’une œuvre, d’un produit ou d’une marque originale.
              </p>
            </div>
          </div>
          <div class="[transition:0.3s] bg-[#f2f5fa] text-[#707070] px-[0] py-[10px] rounded-[15px] hover:[box-shadow:0_8px_16px_0_rgba(0,0,0,0.2)]" data-aos="zoom-in">
            <img class="w-[100px] rounded-[10px] pl-[10px]" src="../assets/images/consumer.svg" alt="Avatar" style="width: 100px" />
            <div class="px-[16px] py-[2px]">
              <h4 style="color: black">
                <b>Loi sur le tribunal de la consommation</b>
              </h4>
              <p class=" text-[1rem] font-['Nunito']">
              Des lignes directrices et des règles sont élaborées dans le but de sauvegarder les droits du consommateur.
              </p>
            </div>
          </div>
          <div class="[transition:0.3s] bg-[#f2f5fa] text-[#707070] px-[0] py-[10px] rounded-[15px] hover:[box-shadow:0_8px_16px_0_rgba(0,0,0,0.2)]
" data-aos="zoom-in">
            <img class="w-[100px] rounded-[10px] pl-[10px]" src="../assets/images/trademark.svg" alt="Avatar" style="width: 100px" />
            <div class="px-[16px] py-[2px]">
              <h4 style="color: black"><b>Loi sur le droit d'auteur</b></h4>
              <p class=" text-[1rem] font-['Nunito']">
              Servir l’objectif de protéger les droits d’utilisation d’une idée, d’une œuvre, d’un produit ou d’une marque originale.
              </p>
            </div>
          </div>
        </div>




        <div class="items-center text-center mt-[15px]">
          <a href="./client/dashboard.html"><button class="border-[none] inline-block align-top ml-[24px] rounded-[35px] font-medium text-[#fff] leading-[26px] text-[20px] px-[35px] py-[9px] cursor-pointer !text-[20px] !pt-[13px] !pb-[13px] !pl-[60px] !pr-[60px] rounded-[2em] [box-shadow:0_1px_20px_0_rgb(0_0_0_/_14%)] hover:cursor-pointer hover:[transition:all_.2s_ease-in-out] hover:!bg-[linear-gradient(to_right,#EC008C_100%,#fc6767_10%,#EC008C_0%)]">Rencontrez nos avocats</button></a>
        </div>
        <!-- BANNER 4 -->
        <div class="banner4" data-aos="zoom-out">
          <div>
            <h2 class="text-center text-[2.5vw] pt-[0] px-[0] pb-[80px] text-[#414a4d] font-['Nunito']">
            Avocats les mieux notés en Maroc
            </h2>
          </div>
        </div>
        <div class="grid  pt-[15px] gap-x-[125px] gap-y-[50px] m-auto mt-[10px] bg-[#f2f5fa] grid-cols-[repeat(1,_1fr)] md:grid-cols-[repeat(2,_1fr)] lg:grid-cols-[repeat(4,_1fr)]" data-aos="zoom-out">
          <div class="[transition:0.3s] bg-[#f2f5fa] text-[#707070] px-[0] py-[10px] rounded-[15px] hover:[box-shadow:0_8px_16px_0_rgba(0,0,0,0.2)]">
            <img class="w-[90%] rounded-[10px] pl-[10px]" src="../assets/images/Layyer2.jpeg" alt="Avatar" />
            <div class="px-[16px] py-[2px]">
              <h4 style="color: black"><b>Fali Sam Nariman</b></h4>
              <p class=" text-[1rem] font-['Nunito']">
                Nariman has been practicing law since 1971 and was named the President of the Bar Association of India
                in 1991.
              </p>
            </div>
          </div>
          <div class="[transition:0.3s] bg-[#f2f5fa] text-[#707070] px-[0] py-[10px] rounded-[15px] hover:[box-shadow:0_8px_16px_0_rgba(0,0,0,0.2)]">
            <img class="w-[90%] rounded-[10px] pl-[10px]" src="../assets/images/Harish-Salve.jpeg" alt="Avatar" />
            <div class="px-[16px] py-[2px]">
              <h4 style="color: black"><b>Harish Salve</b></h4>
              <p class=" text-[1rem] font-['Nunito']">
                Harish Salve is a lawyerand human rights activistthat served as the Solicitor General of India from 1st
                November 1999 to 3rd November 2002.
              </p>
            </div>
          </div>
          <div class="[transition:0.3s] bg-[#f2f5fa] text-[#707070] px-[0] py-[10px] rounded-[15px] hover:[box-shadow:0_8px_16px_0_rgba(0,0,0,0.2)]">
            <img class="w-[90%] rounded-[10px] pl-[10px]" src="../assets/images/lawyer3.jpeg" alt="Avatar" width="90%" />
            <div class="px-[16px] py-[2px]">
              <h4 style="color: black"><b>Meenakshi Bharadwaj</b></h4>
              <p class=" text-[1rem] font-['Nunito']">
                She is an anti-land-acquisition trade unionist and civil rights, campaigner. She was a member of the
                Chattisgarh Mukti Morcha
              </p>
            </div>
          </div>
          <div class="[transition:0.3s] bg-[#f2f5fa] text-[#707070] px-[0] py-[10px] rounded-[15px] hover:[box-shadow:0_8px_16px_0_rgba(0,0,0,0.2)]">
            <img class="w-[90%] rounded-[10px] pl-[10px]" src="../assets/images/lawyer5.jpeg" alt="Avatar" width="90%" />
            <!-- <div class="px-[16px] py-[2px]"> -->
              <h4 class="text-[#414a4d] text-[18px] font-['Nunito'] color-black"><b>Mukul Rohtagi</b></h4>
              <p class=" text-[1rem] font-['Nunito']">
                Mukul Rohtagi was appointed as a chief legal advisor for the current Prime Minister of India,
              </p>
            <!-- </div> -->
          </div>
        </div>
        <div class="banner4">
          <div>
            <h2 class="text-center text-[2.5vw] pt-[0] px-[0] pb-[80px] text-[#414a4d] font-['Nunito']">Votre tranquillité d'esprit est notre priorité absolue!</h2>
          </div>
        </div>
        <div class="grid pt-[15px] gap-x-[125px] gap-y-[50px] m-auto mt-[10px] grid-cols-[repeat(1,_1fr)] md:grid-cols-[repeat(2,_1fr)]">
          <div class="flex flex-col justify-center w-full bg-[whitesmoke] h-auto [box-shadow:0_1px_3px_0_rgba(0,0,0,.1),0_1px_2px_0_rgba(0,0,0,.06)!important] rounded-[10px] border-[whitesmoke] m-[20px]" data-aos="fade-right">
            <div class="bg-[#ffffff] w-20 justify-self-center rounded-lg">
              <img class="items-center p-[15px]" src="https://www.appointy.com/online-booking-software/wp-content/uploads//2020/10/Super-Support.svg"
                alt=" super support" />
            </div>
            <!-- <div class="w-3/4 bg-[#ffffff]"> -->
              <h4 class="text-[#414a4d] text-[18px] font-['Nunito']">Soutien au souper</h4>
              <p class="text-[#707070] text-[16px] font-['Nunito']">
              Appointy est soutenu par une équipe de professionnels dévoués qui
              sont toujours disponibles par e-mail, chat et téléphone
              </p>
            <!-- </div> -->
          </div>
          <div class="flex flex-col justify-center w-full bg-[whitesmoke] h-auto [box-shadow:0_1px_3px_0_rgba(0,0,0,.1),0_1px_2px_0_rgba(0,0,0,.06)!important] rounded-[10px] border-[whitesmoke] m-[20px]" data-aos="fade-left">
            <div class="bg-[#ffffff] w-20 justify-self-center rounded-lg">
              <img class="items-center p-[15px]"
                src="https://www.appointy.com/online-booking-software/wp-content/uploads//2020/10/Multi-location-management.svg"
                alt="" />
            </div>
            <!-- <div class="w-3/4 bg-[#ffffff]"> -->
              <h4 class="text-[#414a4d] text-[18px] font-['Nunito']">Gestion des multi-emplacements</h4>
              <p class="text-[#707070] text-[16px] font-['Nunito']">
              Appointy grandit avec votre entreprise ! Lorsque vous développez votre entreprise
                vers plusieurs emplacements, Appointy permet une gestion facile de tous
                vos sites et clients à partir d'un portail d'administration centralisé

              </p>
            <!-- </div> -->
          </div>
          <div class="flex flex-col justify-center w-full bg-[whitesmoke] h-auto [box-shadow:0_1px_3px_0_rgba(0,0,0,.1),0_1px_2px_0_rgba(0,0,0,.06)!important] rounded-[10px] border-[whitesmoke] m-[20px]" data-aos="fade-right">
            <div class="bg-[#ffffff] w-20 justify-self-center rounded-lg">
              <img class="items-center p-[15px]" src="https://www.appointy.com/online-booking-software/wp-content/uploads//2020/10/Frame-14.svg"
                alt="" />
            </div>
            
              <h4 class="text-[#414a4d] text-[18px] font-['Nunito']">Assistance à l'installation gratuite et migration facile</h4>
              <p class="text-[#707070] text-[16px] font-['Nunito']">
              Intégration facile et assistance à la configuration personnalisée gratuite de
                des personnes qui ont intégré des milliers d'entreprises, vous obtenez
                a commencé avec Appointy en un rien de temps. Besoin de passer de votre
                système existant ? Nous nous occupons de tout !
              </p>
            
          </div>
          <div class="flex flex-col justify-center w-full bg-[whitesmoke] h-auto [box-shadow:0_1px_3px_0_rgba(0,0,0,.1),0_1px_2px_0_rgba(0,0,0,.06)!important] rounded-[10px] border-[whitesmoke] m-[20px]" data-aos="fade-left">
            <div class="bg-[#ffffff] w-20 justify-self-center rounded-lg">
              <img class="items-center p-[15px]   " src="https://www.appointy.com/online-booking-software/wp-content/uploads//2020/10/Security.svg"
                alt="" />
            </div>
            <!-- <div class="w-3/4 bg-[#ffffff]"> -->
              <h4 class="text-[#414a4d] text-[18px] font-['Nunito']">Sécurité</h4>
              <p class="text-[#707070] text-[16px] font-['Nunito']">
              Nous prenons la sécurité des données des clients très au sérieux. Vos données sont
                sécurisé, sauvegardé sur le cloud, et vous en conservez l’entière propriété.
                Notre application est hébergée sur Google Cloud qui adhère aux
                normes les plus élevées de fiabilité et de sécurité des données
              </p>
            <!-- </div> -->
          </div>
        </div>
        
        
      </div>
    </main>
    <!-- Footer -->
    <footer class="relative mx-auto left-[50px] md:left-[200px] top-[30px] w-full" >
          <div class="w-full m-auto">
            <div class=" grid grid-cols-[repeat(2,_1fr)] lg:grid-cols-[repeat(4,_1fr)]">
              <div class=" py-[0]">
                <h4 class="text-[18px] text-[black] capitalize mb-[35px] font-medium relative before:content-[''] before:absolute before:left-[0] before:-bottom-[10px] before:bg-[#e91e63] before:h-[2px] before:box-border before:w-[50px]">Entreprise</h4>
                <ul>
                  <li class="mb-[10px]"><a class="text-[16px] capitalize -ml-[30px] no-underline font-light text-[black] block [transition:all_0.3s_ease] hover:text-[black] hover:pl-[8px]" href="#">à propos de nous</a></li>
                  <li class="mb-[10px]"><a class="text-[16px] capitalize -ml-[30px] no-underline font-light text-[black] block [transition:all_0.3s_ease] hover:text-[black] hover:pl-[8px]" href="#">nos services</a></li>
                  <li class="mb-[10px]"><a class="text-[16px] capitalize -ml-[30px] no-underline font-light text-[black] block [transition:all_0.3s_ease] hover:text-[black] hover:pl-[8px]" href="#">politique de confidentialité</a></li>
                  <li><a class="text-[16px] capitalize -ml-[30px] no-underline font-light text-[black] block [transition:all_0.3s_ease] hover:text-[black] hover:pl-[8px]" href="#">programme d'affiliation</a></li>
                </ul>
              </div>
              <div class=" py-[0]">
                <h4 class="text-[18px] text-[black] capitalize mb-[35px] font-medium relative before:content-[''] before:absolute before:left-[0] before:-bottom-[10px] before:bg-[#e91e63] before:h-[2px] before:box-border before:w-[50px]">obtenir de l'aide</h4>
                <ul>
                  <li class="mb-[10px]"><a class="text-[16px] capitalize -ml-[30px] no-underline font-light text-[black] block [transition:all_0.3s_ease] hover:text-[black] hover:pl-[8px]" href="#">FAQ</a></li>
                  <li class="mb-[10px]"><a class="text-[16px] capitalize -ml-[30px] no-underline font-light text-[black] block [transition:all_0.3s_ease] hover:text-[black] hover:pl-[8px]" href="#">Contactez-nous</a></li>
                  <li class="mb-[10px]"><a class="text-[16px] capitalize -ml-[30px] no-underline font-light text-[black] block [transition:all_0.3s_ease] hover:text-[black] hover:pl-[8px]" href="#">Politiques juridiques</a></li>
                  <li class="mb-[10px]"><a class="text-[16px] capitalize -ml-[30px] no-underline font-light text-[black] block [transition:all_0.3s_ease] hover:text-[black] hover:pl-[8px]" href="#">Retour</a></li>
                  <li><a class="text-[16px] capitalize -ml-[30px] no-underline font-light text-[black] block [transition:all_0.3s_ease] hover:text-[black] hover:pl-[8px]" href="#">Centre d'assistance</a></li>
                </ul>
              </div>
              <div class="  py-[0] hidden md:block">
                <h4 class="text-[18px] text-[black] capitalize mb-[35px] font-medium relative before:content-[''] before:absolute before:left-[0] before:-bottom-[10px] before:bg-[#e91e63] before:h-[2px] before:box-border before:w-[50px]">Ventes</h4>
                <ul>
                  <li class="mb-[10px]"><a class="text-[16px] capitalize -ml-[30px] no-underline font-light text-[black] block [transition:all_0.3s_ease] hover:text-[black] hover:pl-[8px]" href="#">Contacter le service commercial</a></li>
                  <li class="mb-[10px]"><a class="text-[16px] capitalize -ml-[30px] no-underline font-light text-[black] block [transition:all_0.3s_ease] hover:text-[black] hover:pl-[8px]" href="#">Forfaits et tarifs</a></li>
                  <li class="mb-[10px]"><a class="text-[16px] capitalize -ml-[30px] no-underline font-light text-[black] block [transition:all_0.3s_ease] hover:text-[black] hover:pl-[8px]" href="#">Demander une démo</a></li>
                  <li><a class="text-[16px] capitalize -ml-[30px] no-underline font-light text-[black] block [transition:all_0.3s_ease] hover:text-[black] hover:pl-[8px]" href="#">Webinaires et événements</a></li>
                </ul>
              </div>
              <div class="  py-[0]">
                <h4 class="text-[18px] text-[black] capitalize mb-[35px] font-medium relative before:content-[''] before:absolute before:left-[0] before:-bottom-[10px] before:bg-[#e91e63] before:h-[2px] before:box-border before:w-[50px]">follow us</h4>
                <div class="social-links">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
              </div>
            </div>
          </div>
        </footer>
</body>
<script src="https://kit.fontawesome.com/422003c0e3.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
<script>

function savename() {
  
  window.location="./userlogin.php"
}

// let logout = document.getElementById("logout");
let profile = document.getElementById("profile");


let fullname = localStorage.getItem("name") || null;
profile.innerHTML = fullname || "My Profile";

let signupdiv = document.getElementById("signup-logout-btn");
console.log(fullname)
!fullname
  ? (signupdiv.innerHTML = `
<button id="signup" class="signup"  onclick="savename()">Sign up</button>`)
  : (signupdiv.innerHTML = `<button id="logout" onclick="logout()" class="signup" >Log Out</button>`);
let logoutbtn = document.getElementById("logout");

function logout() {

  localStorage.removeItem("userData");
  localStorage.removeItem("name");
  localStorage.removeItem("token");
  profile.innerHTML = "My Profile";
  
  window.location.reload();
}
</script>

</html>
