<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information de l'avocat</title>
    <link rel="stylesheet" href="../../assets/css/avocatreg.css">
</head>

<body>
    <div id="maindiv">
        <div id="from">
            <h2 style="margin-bottom: -20px;">Créer un compte</h2>
            <h4 style="margin-bottom: 20px;">Ici pour les Avocat</h4>
            <form>
                <!-- <label for="Your name">Your name</label><br> -->
                <input type="text" id="name" class="input" placeholder="Entrez votre Nom"><br>
                <input type="text" id="prenom" class="input" placeholder="Entrez votre Prénom"><br>
                <!-- <label for="Email">Email</label><br> -->
                <input type="email" id="email" class="input" placeholder="Entrez votre email"><br>
                <!-- <label for="Password">Password</label><br> -->
                <input type="password" id="password" class="input" placeholder="Entrez votre mot de passe"><br>
                <!-- <label for="Your name">Your name</label><br> -->
                <input type="text" id="bio" class="input" placeholder="Entrez votre Biography"><br>
                <!-- <label for="Email">Email</label><br> -->

                <!-- <label for="Password">Password</label><br> -->
                <input type="text" id="experience" class="input" placeholder="Entrer les années d'experience"><br>
                <!-- <label for="Email">Email</label><br> -->
                <input type="text" id="address" class="input" placeholder="Enter your address"><br>
                <input type="number" id="number" class="input" placeholder="Entrez votre Num de télephone"><br>
                <!-- <label for="Password">Password</label><br> -->
                <input type="image" id="image" class="input" placeholder="Enter your image url"><br>
                
                <p class="terms"><input type="checkbox" required> En cliquant, vous acceptez <br> AvocatConnect
                    Conditions
                    d'utilisation et politique de confidentialité.</p>
                <button id="Signupbtn">Inscrire</button>
                <p class="temp">Vous avez déjà un compte?<a href="./userlogin.php"> Connecter</a> </p>

            </form>
        </div>
    </div>
    <div id="conditions">
        <p>Conditions d'utilisation Avis de confidentialité Aide <br>© 2024-2030, Inc.</p>
    </div>
</body>

</html>
<script src="../assets/js/lawyerReg.js"></script>